<div class="contact-background">
    <div class="contact-content">
        <div class="info-box">
            <h3 id="contact-anchor" class="subheadline">{{ 'contact.h3' | translate }}</h3>
            <h1>{{ 'contact.h1-1' | translate }}<br> {{ 'contact.h1-2' | translate }}</h1>
            <h3 class="question">{{ 'contact.h3-2' | translate }}</h3>
            <p>{{ 'contact.p1' | translate }}</p>
            <p> {{ 'contact.p2' | translate }} <span>{{ 'contact.span' | translate }}</span></p>
        </div>
        <app-contact-form class="form" />
    </div>
</div>