<div class="contact-background">
    <div class="contact-content">
        <div class="info-box">
            <h3 class="subheadline">Contact me</h3>
            <h1>Let´s work together</h1>
            <h3 class="question">Got a problem to solve?</h3>
            <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to
                your projects with my work.</p>
            <p> Need a Frontend developer? <span>Let’s talk!</span></p>
        </div>
        <app-contact-form class="form" />
    </div>
</div>