<nav [ngClass]="inSidebar ? 'in-sidebar' : 'in-header'">
    <div class="toggle">
        <span (click)="ngxService.changeLanguage('en')"
            [ngClass]="ngxService.getCurrentLanguage() === 'en' ? 'activelg' : 'lg'">EN</span>
        <span (click)="ngxService.changeLanguage('de')"
            [ngClass]="ngxService.getCurrentLanguage() === 'de' ? 'activelg' : 'lg'">DE</span>
        <div [ngClass]="ngxService.getCurrentLanguage() === 'en' ? 'left' : 'right'" class="slider"></div>
    </div>
    <div [ngClass]="inSidebar ? 'links-column' : 'links-row'" class="links">
        <span (click)="scrollToAnchor('about-me-anchor', -50)" class="link">{{ 'header.about' | translate
            }}</span>
        <span (click)="scrollToAnchor('skills-anchor', -50)" class="link">{{ 'header.skills' | translate
            }}</span>
        <span (click)="scrollToAnchor('projects-anchor', -50)" class="link">{{ 'header.projects' | translate
            }}</span>
    </div>
</nav>