@use '../../../styles.scss' as *;



nav {
    
    .toggle {
        position: relative;
        border: 1px solid $color-v2-green-100;
        border-radius: 100vw;
        width: 5.25rem;
        height: 1.75rem;
        @include dFlex($jc: space-around);
        cursor: pointer;
    
        .activelg {
            @include font-fira-code($fs: 1rem, $fw: 700);
            color: white;
            z-index: 2;
        }
    
        .lg {
            @include font-fira-code($fs: 1rem, $fw: 400);
            color: $color-v2-green-50;
            z-index: 2;
        }
    
        .slider {
            position: absolute;
            background-color: $color-v2-green-100;
            width: 2.625rem;
            height: 1.75rem;
            border-radius: 100vw;
            z-index: 1;
            transition: all 200ms ease-in-out;
            left: 0;
            transition: transform 200ms ease-out;
            transform: translateX(0)
        }
    
        .left {
            transform: translateX(0);
        }
    
        .right {
            transform: translateX(2.625rem);
        }
    }

    .links {

        .link {
            position: relative;
            @include font-fira-code($fs: 1.25rem, $fw: 400);
            cursor: pointer;
            color: white;
            @extend .hover-transition;
          
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translate(-50%, 0.625rem);
              @extend .green-dot;
              opacity: 0;
              transition: opacity 125ms ease-out;
            }
          
            &:hover::after {
              opacity: 1;
            }
          }
    }

    
}

.in-sidebar {
    @include dFlex($fd: column-reverse, $ai: flex-start, $jc: flex-start, $g: 1.5rem);
}

.in-header {
    @include dFlex($jc: flex-start, $g: 1.5rem);
}

.links-column {
    @include dFlex($fd: column, $ai: flex-start, $jc: flex-start, $g: 1.5rem);
}

.links-row {
    @include dFlex($jc: flex-start, $g: 1.5rem);
}