<div class="content-bg">
    <div class="about-me-content">
        <img id="about-me-anchor" class="my-image" src="assets/img/about-me-image.png" alt="my image">

        <div class="about-me-box">
            <h3>{{ 'about.h3' | translate }}</h3>
            <div class="box">
                <h2>{{ 'about.h2' | translate }}</h2>
                <p class="subheadline">{{ 'about.description' | translate }}</p>

                <div class="point">
                    <img src="assets/icons/about-me-location.svg" alt="">
                    <p>{{ 'about.1' | translate }}</p>
                </div>
                <div class="point">
                    <img src="assets/icons/about-me-brain.svg" alt="">
                    <p>{{ 'about.2' | translate }}</p>
                </div>
                <div class="point">
                    <img src="assets/icons/about-me-check.svg" alt="">
                    <p>{{ 'about.3' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>