@use '../../../styles.scss' as *;

.content-bg {
    background-color: $color-black-bg;
}

.about-me-content {
    @media(max-width: 899px) {
        padding: 2rem 1rem;
    }
    @media(max-width: 1099px) {
        flex-direction: column;
    }
    width: 100%;
    max-width: $content-limit;
    margin: 0 auto;
    padding: 6rem;
    @include dFlex($jc: space-around, $g: 1rem);

    .my-image {
        @media(max-width: 440px) {
            width: 100%;
        }
        width: 31.25rem;
        max-height: 35.625rem;
        border-radius: 1.875rem;
        object-fit: cover;
        background-color: $color-v2-green-10;
        border: 1px solid $color-v2-green-100;
        object-position: 0 -2.1875rem;
    }

    .about-me-box {
        @media(max-width: 999px) {
            transform: translateY(0);
            max-width: 31.25rem;
        }
        transform: translateY(4.375rem);

        h3 {
            @include font-karla($fs: 1.5rem, $fw: 500);
            color: $color-v2-green-100;
            margin-bottom: 0.625rem;
        }

        .box {
            border: 1px solid $color-v2-green-100;
            background-color: $color-v2-green-10;
            border-radius: 1.875rem;
            padding: 2rem;
            @include dFlex($fd: column, $ai: flex-start, $g: 2.5rem);

            h2 {
                @include font-fira-code($fs: 4rem, $fw: 700);
                color: $color-v2-green-100;
            }

            .subheadline {
                @include font-karla($fs: 1.125rem, $fw: 400);
                color: white;
                max-width: 55ch;
            }

            .point {
                @include dFlex($jc: flex-start, $ai: flex-start, $g: 1.5rem);

                img {
                    width: 2rem;
                    height: 2rem;
                }

                p {
                    @include font-karla($fs: 1.125rem, $fw: 400);
                    color: $color-not-white;
                    cursor: default;
                    max-width: 49ch;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}