<div class="content-bg">
    <div class="portfolio-content">
        <div class="featured">
            <h3 id="projects-anchor">{{ 'portfolio.h3' | translate }}</h3>
            <h1>{{ 'portfolio.h1' | translate }}</h1>
            <p>{{ 'portfolio.description' | translate }}</p>
            <div (click)="openProjectDetails('dabubble')" class="project-facts border-top" (mouseover)="onMouseOver('dabubble')" (mouseleave)="onMouseLeave()">
                <span class="title">DA Bubble</span>
                <div class="tech-stack">
                    <span class="skill">Angular</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">TypeScript</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">Firebase</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">HTML</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">SCSS</span>
                </div>
            </div>
            <div (click)="openProjectDetails('join')" class="project-facts border-top" (mouseover)="onMouseOver('join')" (mouseleave)="onMouseLeave()">
                <span class="title">Join</span>
                <div class="tech-stack">
                    <span class="skill">Angular</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">TypeScript</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">Firebase</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">HTML</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">SCSS</span>
                </div>
            </div>
            <div (click)="openProjectDetails('epl')" class="project-facts border-top border-bottom" (mouseover)="onMouseOver('epl')"
                (mouseleave)="onMouseLeave()">
                <span class="title">El Pollo Loco</span>
                <div class="tech-stack">
                    <span class="skill">JavaScript</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">HTML</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">CSS</span>
                </div>
            </div>
        </div>

            <div class="image-container">
                @if (showProjectImage === 'dabubble') {
                <div class="image-wrapper">
                    <img class="project-img" src="assets/img/portfolio-dabubble.png" alt="messenger image">
                    <img class="lines" src="assets/img/portfolio-diagonal-lines.png" alt="image of green lines">
                </div>
    
                }
                @if (showProjectImage === 'join') {
                <div class="image-wrapper">
                    <img class="project-img" src="assets/img/portfolio-join.png" alt="messenger image">
                    <img class="lines" src="assets/img/portfolio-diagonal-lines.png" alt="image of green lines">
                </div>
    
                }
                @if (showProjectImage === 'epl') {
                <div class="image-wrapper">
                    <img class="project-img" src="assets/img/portfolio-epl.png" alt="messenger image">
                    <img class="lines" src="assets/img/portfolio-diagonal-lines.png" alt="image of green lines">
                </div>
    
                }
            </div>
        
    </div>
</div>

@if (showDetailView) {
    <div @fadeIn class="project-detail-view">
        <app-project (triggerClose)="closeProjectDetails()" [currentProject]="currentProject" />
    </div>
    <div @fadeIn (click)="closeProjectDetails()" class="popup-bg"></div>
}
