<div class="content-bg">
    <div class="portfolio-content">
        <div class="featured">
            <h3>Portfolio</h3>
            <h1>Featured Projects</h1>
            <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
            <div class="project-facts border-top">
                <span class="title">DA Bubble</span>
                <div class="tech-stack">
                    <span class="skill">Angular</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">TypeScript</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">Firebase</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">HTML</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">SCSS</span>
                </div>
            </div>
            <div class="project-facts border-top">
                <span class="title">Join</span>
                <div class="tech-stack">
                    <span class="skill">Angular</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">TypeScript</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">Firebase</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">HTML</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">SCSS</span>
                </div>
            </div>
            <div class="project-facts border-top border-bottom">
                <span class="title">El Pollo Loco</span>
                <div class="tech-stack">
                    <span class="skill">JavaScript</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">HTML</span>
                    <span class="vertical-divider">|</span>
                    <span class="skill">CSS</span>
                </div>
            </div>
        </div>

    </div>
</div>