<div class="content-bg">
    <div class="technologies-content">
        <div class="skill-set">
            <h3 id="skills-anchor" class="headline">Technologies</h3>
            <div class="box">
                <h2>Skill Set</h2>
                <p class="subheadline">
                    My journey has involved working on diverse projects, employing a range of frontend technologies and
                    concepts. I am open to embracing new technologies and methodologies to Continously enhance my skills
                    and stay ahead in the ever-evolving landscape of web development.
                </p>
                <h3>You need <span>another skill?</span></h3>
                <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
                <button class="primary-btn"><span>Let´s Talk</span></button>
            </div>
        </div>
        <div class="skills">
            @for (skill of skills; track $index) {
                <div class="skill">
                    <img src="{{ skill.imgPath }}" alt="">
                    <span>{{ skill.skill }}</span>
                </div>
            }
            
            <div class="skill-wrapper">
                <div (mouseover)="handleMouseHover()" (mouseleave)="handleMouseLeave()" class="skill">
                    <img src="assets/img/skills-growth.svg" alt="">
                    <span>Growth mindset</span>
                    
                </div>
                @if (showGrowthPopup) {
                    <div @fadeIn class="growth-popup">
                        <app-growth-popup></app-growth-popup>
                    </div>
                    
                }
                
            </div>
            
        </div>
    </div>
</div>