@use '../../../styles.scss' as *;

.content-bg {
    background-color: $color-black-bg;
}

.technologies-content {
    @media(max-width: 899px) {
        padding: 2rem 1rem;
    }

    @media(max-width: 1099px) {
        flex-direction: column;
        align-items: center;
    }

    width: 100%;
    max-width: $content-limit;
    margin: 0 auto;
    padding: 6rem;
    @include dFlex($jc: space-around, $g: 1rem, $ai: flex-start);

    .skill-set {
        .headline {
            @include font-karla($fs: 1.5rem, $fw: 700);
            color: $color-v2-green-100;
            margin-bottom: 0.625rem;
        }

        .box {
            @media(max-width: 999px) {
                max-width: 31.25rem;
            }

            border: 1px solid $color-v2-green-100;
            background-color: $color-v2-green-10;
            border-radius: 1.875rem;
            padding: 2rem;
            @include dFlex($fd: column, $ai: flex-start, $g: 2.5rem);

            h2 {
                @include font-fira-code($fs: 4rem, $fw: 700);
                color: $color-v2-green-100;
            }

            .subheadline {
                @include font-karla($fs: 1.125rem, $fw: 400);
                color: $color-not-white;
                max-width: 50ch;

                &:hover {
                    color: white;
                }
            }

            h3 {
                @include font-fira-code($fs: 1.5rem, $fw: 700);
                color: white;

                span {
                    color: $color-v2-green-100;
                }
            }

            p {
                @include font-karla($fs: 1rem, $fw: 400);
                color: $color-not-white;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .skills {
        @media(max-width: 999px) {
            transform: translateY(0);
            justify-content: center;
            max-width: 31.25rem;
            gap: 3rem;
        }

        @include dFlex($jc: flex-start, $ai: flex-start, $g: 4.5rem);
        flex-wrap: wrap;
        flex: 2;
        max-width: 40rem;
        margin-top: 1.75rem;
        transform: translateY(4.375rem);

        .skill {
            @include dFlex($fd: column, $g: 0.5rem);
            width: 6.5rem;
            height: 7.25rem;

            &:hover img {
                scale: 1.15;
                @extend .hover-transition;
            }

            .skill-icon {
                @extend .hover-transition;
                width: 4rem;
                height: 4rem;
                filter: invert(1);
            }

            span {
                @include font-fira-code($fs: 1.125rem, $fw: 400);
                color: white;
                white-space: wrap;
                text-align: center;
            }
        }
    }
}

.skill-wrapper {
    position: relative;
}

.growth-popup {
    position: absolute;
    bottom: 8.125rem;
    left: 1.25rem;
    box-shadow: 0px 0.25rem 0.25rem 0px #00000040;
    background-color: white;
    border-radius: 1.875rem;
    padding: 2rem;
    z-index: 5;
}