<div class="content-bg">
    <div class="technologies-content">
        <div class="skill-set">
            <h3 id="skills-anchor" class="headline">{{ 'technologies.h3' | translate }}</h3>
            <div class="box">
                <h2>{{ 'technologies.h2' | translate }}</h2>
                <p class="subheadline">{{ 'technologies.description' | translate }}</p>
                <h3>{{ 'technologies.question1' | translate }} <span>{{ 'technologies.question2' | translate }}</span></h3>
                <p>{{ 'technologies.contact me' | translate }}</p>
                <button class="primary-btn"><span>{{ 'technologies.btn' | translate }}</span></button>
            </div>
        </div>
        <div class="skills">
            @for (skill of skills; track $index) {
                <div class="skill">
                    <img src="{{ skill.imgPath }}" alt="">
                    <span>{{ skill.skill }}</span>
                </div>
            }
            
            <div class="skill-wrapper">
                <div (mouseover)="handleMouseHover()" (mouseleave)="handleMouseLeave()" class="skill">
                    <img src="assets/img/skills-growth.svg" alt="">
                    <span>Growth mindset</span>
                    
                </div>
                @if (showGrowthPopup) {
                    <div @fadeIn class="growth-popup">
                        <app-growth-popup></app-growth-popup>
                    </div>
                    
                }
                
            </div>
            
        </div>
    </div>
</div>