<div class="content-bg">
    <div class="technologies-content">
        <div class="skill-set">
            <h3 class="headline">Technologies</h3>
            <div class="box">
                <h2>Skill Set</h2>
                <p class="subheadline">
                    My journey has involved working on diverse projects, employing a range of frontend technologies and
                    concepts. I am open to embracing new technologies and methodologies to Continously enhance my skills
                    and stay ahead in the ever-evolving landscape of web development.
                </p>
                <h3>You need <span>another skill?</span></h3>
                <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
                <button class="primary-btn"><span>Let´s Talk</span></button>
            </div>
        </div>
        <div class="skills">
            <div class="skill">
                <img src="assets/img/skills-angular.svg" alt="">
                <span>Angular</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills-typescript.svg" alt="">
                <span>TypeScript</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills-javascript.svg" alt="">
                <span>JavaScript</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills-rest.svg" alt="">
                <span>Rest-Api</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills-firebase.svg" alt="">
                <span>Firebase</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills-html.svg" alt="">
                <span>HTML</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills-css.svg" alt="">
                <span>CSS</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills-git.svg" alt="">
                <span>GIT</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills-scrum.svg" alt="">
                <span>Scrum</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills-material.svg" alt="">
                <span>Material Design</span>
            </div>
            <div class="skill">
                <img src="assets/img/skills-growth.svg" alt="">
                <span>Growth mindset</span>
                <div class="growth-popup">Test</div>
            </div>
        </div>
    </div>
</div>