@use '../../../styles.scss' as *;

.my-name {
    @media(max-width: 999px) {
        font-size: 6rem;
    }
    @include font-karla($fs: 8rem, $fw: 700);
    color: $color-not-white;
    margin-top: 0.75rem;
    text-align: center;
}

.content-bg {
    background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, $color-black-bg 100%),
        linear-gradient(45deg, $color-black-bg 30%, $color-green-bg 70%);
}

.hero-content {
    @media(max-width: 999px) {
        padding: 6.25rem 1rem 0 1rem;
    }
    position: relative;
    @include dFlex();
    height: 100dvh;
    width: 100%;
    max-width: $content-limit;
    margin: 0 auto;
    padding: 6.25rem 6rem 0 6rem;

    .center {
        @include dFlex($fd: column);
        margin-bottom: 6.25rem;

        h3 {
            @include font-fira-code($fs: 2.5rem, $fw: 400);
            color: $color-not-white;
            @media(max-width: 999px) {
                font-size: 2rem;
            }
        }

        h1 {
            @include font-karla($fs: 8rem, $fw: 700);
            color: $color-not-white;
            margin-top: 0.75rem;
        }

        .btns {
            @include dFlex($g: 3rem);
            margin-top: 2.5rem;
        }
    }
}

.left-line {
    @media(max-width: 999px) {
        left: 1rem;
    }
    position: absolute;
    bottom: 0;
    left: 6rem;
    @include dFlex($fd: column, $g: 0.625rem);

    .line {
        @media(max-width: 999px) {
            height: 10rem;
        }
        width: 1px;
        height: 15rem;
        border: unset;
        background-color: $color-v2-green-100;
    }

    .arrow {
        @include dFlex();
        width: 1.875rem;
        height: 3rem;
        border: 1px solid $color-v2-green-100;
        border-radius: 100vw;

        svg {
            animation: 1.2s move-arrow infinite ease-in-out;
        }
    }
}

@keyframes move-arrow {
    0% {
        transform: translateY(-0.1875rem);
    }

    50% {
        transform: translateY(0.1875rem);
    }

    100% {
        transform: translateY(-0.1875rem);
    }
}

.right-line {
    @media(max-width: 999px) {
        right: 1rem;
    }
    position: absolute;
    bottom: 0;
    right: 6rem;
    @include dFlex($fd: column, $g: 0.625rem);

    .link-text {
        @media(max-width: 899px) {
            display: none;
        }
        @include font-karla($fs: 1.125rem, $fw: 400);
        color: white;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-decoration: none;
        cursor: pointer;
        @extend .hover-transition;

        &:hover {
            color: $color-v2-green-100;
            @extend .hover-transition;
        }
    }

    .link-img {
        @media(max-width: 899px) {
            display: block;
        }
        display: none;
    }

    svg:hover path {
        fill: white;
        @extend .hover-transition;
    }

    svg path {
        @extend .hover-transition;
    }

    .line {
        @media(max-width: 999px) {
            height: 6rem;
        }
        width: 1px;
        height: 11rem;
        border: unset;
        background-color: white;
    }

    .svg-wrapper {
        position: relative;
        cursor: pointer;

        &:hover .dot {
            opacity: 1;
        }
    }

    .dot {
        @extend .green-dot;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0.625rem, -50%);
        opacity: 0;
        transition: opacity 125ms ease-out;
    }
}

.marquee {
    @media(max-width: 999px) {
        bottom: 1rem;
    }
    transform: rotate(-2deg);
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 3.875rem;
    width: calc(100% - 1px);
    height: 3.875rem;
    background-color: $color-blur-bg;
    backdrop-filter: blur(0.33125rem);
    display: flex;
    gap: 3rem;

    .scroll-one, .scroll-two {
        animation: loop 30s linear infinite;
        @include dFlex($jc: space-around, $g: 3rem);
        overflow: hidden;
        flex-shrink: 0;
    }

    span {
        @include font-karla($fs: 2rem, $fw: 400);
        color: $color-v2-green-100;
        letter-spacing: 0.125rem;
        white-space: nowrap;
    }
}

@keyframes loop {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(-100% - 3rem));
    }
}