<div class="content-bg">
    <div class="hero-content">
        <div class="center">
            <h3>Frontend Developer</h3>
            <h1>Manuel Braun</h1>
            <div class="btns">
                <button class="primary-btn">Check my work</button>
                <button class="primary-btn">Contact me</button>
            </div>
        </div>

        <div class="left-line">
            <div class="arrow">
                
            </div>
            <hr class="line">
        </div>

        <div class="right-line">
            <a href="">contact&#64;manuel-braun.net</a>
            <!-- github -->
            <!-- linkedin -->
             <hr class="line">
        </div>

    </div>
</div>