<div class="project">
    <div class="details">
        <h1>{{ project?.id }}</h1>
        <h2>{{ project?.title }}</h2>
        <h3>What is this project about?</h3>
        <p>{{ project?.description }}</p>
        <div class="skills">
            @for (skill of project?.skills; track $index) {
                <img src="{{ skill.imgPath }}" alt="skill icon">
                <span>{{ skill.name }}</span>
            }
        </div>
        <div class="btns">
            <button class="primary-btn">
                <a href="{{ project?.github }}" target="_blank">Gibhub</a>
            </button>
            <button class="primary-btn">
                <a href="{{ project?.link }}" target="_blank">Live Test</a>
            </button>
        </div>
    </div>
    <div class="img-box">
        <!-- close icon -->
         <img class="project-img" src="{{ project?.imgPath }}" alt="project screenshot">
         <button class="text-btn">
            <span>Next project</span>
            <!-- green arrow -->
         </button>
    </div>
</div>