<form name="contactForm" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">

  <div class="input-wrapper" [ngClass]="{'input-error': !name.valid && name.touched}">
    <label for="name">{{ 'contact-form.name' | translate }}</label>
    <input [ngClass]="{'placeholder-error': !name.valid && name.touched}"
      placeholder="{{ 'contact-form.name-ph' | translate }}" type="text" id="name" name="name" required minlength="4"
      [(ngModel)]="contact.name" #name="ngModel">
    @if (!name.valid && name.touched) {
    <span class="hint">{{ 'contact-form.hint1' | translate }}</span>
    }
  </div>
  <div class="input-wrapper" [ngClass]="{'input-error': !email.valid && email.touched}">
    <label for="email">{{ 'contact-form.email' | translate }}</label>
    <input [ngClass]="{'placeholder-error': !email.valid && email.touched}"
      placeholder="{{ 'contact-form.email-ph' | translate }}" type="email" id="email" name="email"
      pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required [(ngModel)]="contact.email" #email="ngModel">
    @if (!email.valid && email.touched) {
    <span class="hint">{{ 'contact-form.hint2' | translate }}</span>
    }
  </div>
  <div class="input-wrapper" [ngClass]="{'input-error': !message.valid && message.touched}">
    <label for="message">{{ 'contact-form.text' | translate }}</label>
    <input
    placeholder="{{ 'contact-form.text-ph' | translate }}"
      type="text" id="message" name="message" required minlength="6" [(ngModel)]="contact.message" #message="ngModel">
    @if (!message.valid && message.touched) {
    <span class="hint">{{ 'contact-form.hint3' | translate }}</span>
    }
  </div>
  <div class="checkbox-wrapper" [ngClass]="{'input-error': !privacy.valid && privacy.touched}">
    <div (click)="toggleCheckbox()" class="custom-check-icon">
      @if (privacy.valid) {
      <img src="assets/icons/contact-check.svg" alt="custom-check-icon">
      } @else {
      <img src="assets/icons/contact-uncheck.svg" alt="custom-check-icon-uncheck">
      }
    </div>
    <input type="checkbox" [(ngModel)]="contact.acceptPrivacy" id="privacy" name="privacy" required #privacy="ngModel">
    <label for="privacy">{{ 'contact-form.privacy1' | translate }} <a (click)="uiService.goToComponent('/privacy', 0)">{{ 'contact-form.privacy2' |
        translate }} </a>{{ 'contact-form.privacy3' | translate }}</label>
    @if (name.valid && email.valid && message.valid && !privacy.valid) {
    <span class="hint">{{ 'contact-form.hint4' | translate }}.</span>
    }
  </div>
  <button [disabled]="!contactForm.valid" type="submit" class="primary-btn"><span>{{ 'contact-form.btn' | translate
      }}</span></button>
</form>

@if (showConfirmPopup) {
<div @fadeIn class="popup-center">
  <app-confirm-popup></app-confirm-popup>
</div>
<div class="popup-bg"></div>
}