@use '../../../styles.scss' as *;

form {
    @include dFlex($fd: column, $ai: flex-start, $jc: flex-start, $g: 2.5rem);

    button {
        margin: auto;
    }
}

.input-wrapper {
    position: relative;
    border-top: 1px solid $color-v2-green-50;
    width: 100%;
    padding: 1.25rem;
    @include dFlex($fd: column, $ai: flex-start, $jc: flex-start, $g: 0.625rem);
    @extend .hover-transition;

    label {
        @include font-fira-code($fs: 1.5rem, $fw: 500);
        color: $color-v2-green-100;
    }

    input {
        @include font-karla($fs: 1.125rem, $fw: 400);
        color: white;
        background: unset;
        border: unset;
        outline: none;
        width: 100%;
        caret-color: $color-v2-green-100;
    }

    &:hover {
        border-top: 1px solid $color-v2-green-100;
        @extend .hover-transition;
    }

    &:hover ::placeholder {
        color: white;
    }
}

.checkbox-wrapper {
    position: relative;
    padding: 1.25rem;
    border-top: 1px solid $color-v2-green-50;
    @include dFlex($jc: flex-start, $g: 0.5rem);
    @extend .hover-transition;

    .custom-check-icon {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        @include dFlex();
        cursor: pointer;
        transform: translateX(-0.3125rem);
        z-index: 2;
        @extend .hover-transition;

        &:hover {
            background-color: $color-v2-green-30;
            @extend .hover-transition;
        }
    }

    label {
        @include font-karla($fs: 0.9375rem, $fw: 400);
        color: white;

        a {
            @include font-fira-code($fs: 0.9375rem, $fw: 400);
            color: $color-v2-green-100;
        }   
    }

    input {
        cursor: pointer;
        z-index: 1;
        opacity: 0;
    }

    &:hover {
        border-top: 1px solid $color-v2-green-100;
        @extend .hover-transition;
    }
}

::placeholder {
    color: $color-not-white;
    @include font-karla($fs: 1.125rem, $fw: 400);
}

.hint {
    @include font-karla($fs: 0.875rem, $fw: 400);
    color: $color-error-red;
    position: absolute;
    bottom: -0.5rem;
    left: 1.25rem;
}

.input-error {
    border-top: 1px solid $color-error-red;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: unset;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px $color-black-bg inset;
    transition: background-color 5000s ease-in-out 0s;
    @include font-karla($fs: 1.125rem, $fw: 400);
}