@use '../../../styles.scss' as *;

form {
    @include dFlex($fd: column, $ai: flex-start, $jc: flex-start, $g: 40px);
}

.input-wrapper {
    @include dFlex($fd: column, $ai: flex-start, $jc: flex-start, $g: 16px);

    label {
        @include font-fira-code($fs: 24px, $fw: 500);
        color: $color-v2-green-100;
    }

    input {
       @include font-karla($fs: 18px, $fw: 400);
       color: white; 
       background: unset;
       border: unset;
       outline: none;
    }
}