@use '../../../styles.scss' as *;

header {
    @media(max-width: 999px) {
        padding: 1rem;
    }
    @media(max-width: 899px) {
        flex-direction: row-reverse;
    }
    @include dFlex($jc: space-between);
    max-width: $content-limit;
    margin: 0 auto;
    padding: 0 6rem;
    height: 100%;
    position: relative;

    .logo {
        @include dFlex($fd: column, $ai: flex-start);

        span:nth-child(1) {
            @include font-fira-code($fs: 1.5rem, $fw: 700);
            color: white;
        }

        span:nth-child(2) {
            @include font-fira-code($fs: 1.5rem, $fw: 700);
            color: $color-v2-green-100;
        }
    }
}

.burgerMenu {
    @media(max-width: 899px) {
        display: block;
    }
    z-index: 6;
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    cursor: pointer;
    display: none;

    .line {
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.125rem;
      border-radius: 0.125rem;
      background-color: white;
      transition: transform 175ms ease, top 175ms ease;
    }
  
    .top {
      top: 25%;
    }
  
    .middle {
      top: 50%;
    }
  
    .bottom {
      top: 75%;
    }
}
  
.burgerMenuClosed .top {
    top: 50%;
    transform: rotate(-45deg);
}
  
.burgerMenuClosed .middle {
    width: 0;
}
  
.burgerMenuClosed .bottom {
    top: 50%;
    transform: rotate(45deg);
}

app-sidebar {
    position: absolute;
    top: 5rem;
    right: 2rem;
    z-index: 5;
}

.menu-background {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-blur-bg;
    backdrop-filter: blur(0.33rem);
}

app-nav-toggle {
    @media(max-width: 899px) {
        display: none;
    }
}