<header>
    <nav>
        <div class="toggle">
            <span (click)="toggleLanguage('en')" [ngClass]="language === 'en' ? 'activelg' : 'lg'">EN</span>
            <span (click)="toggleLanguage('de')" [ngClass]="language === 'de' ? 'activelg' : 'lg'">DE</span>
            <div [ngClass]="language === 'en' ? 'left' : 'right'" class="slider"></div>
        </div>
        <span class="link">About me</span>
        <span class="link">Skills</span>
        <span class="link">Projects</span>
    </nav>
    <div class="logo">
        <span>Manuel</span>
        <span>Braun</span>
    </div>
</header>