@use '../../../styles.scss' as *;

header {
    @include dFlex($jc: space-between);
    max-width: $content-limit;
    margin: 0 auto;
    padding: 0 96px;
    height: 100%;

    nav {
        @include dFlex($jc: flex-start, $g: 24px);

        .link {
            position: relative;
            @include font-fira-code($fs: 20px, $fw: 400);
            cursor: pointer;
            color: white;
            @extend .hover-transition;
          
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translate(-50%, 10px);
              @extend .green-dot;
              opacity: 0;
              transition: opacity 125ms ease-out;
            }
          
            &:hover::after {
              opacity: 1;
            }
          }
    }

    .logo {
        @include dFlex($fd: column, $ai: flex-start);

        span:nth-child(1) {
            @include font-fira-code($fs: 24px, $fw: 700);
            color: white;
        }

        span:nth-child(2) {
            @include font-fira-code($fs: 24px, $fw: 700);
            color: $color-v2-green-100;
        }
    }

    .toggle {
        position: relative;
        border: 1px solid $color-v2-green-100;
        border-radius: 100vw;
        width: 84px;
        height: 28px;
        @include dFlex($jc: space-around);
        cursor: pointer;

        .activelg {
            @include font-fira-code($fs: 16px, $fw: 700);
            color: white;
            z-index: 2;
        }

        .lg {
            @include font-fira-code($fs: 16px, $fw: 400);
            color: $color-v2-green-50;
            z-index: 2;
        }

        .slider {
            position: absolute;
            background-color: $color-v2-green-100;
            width: 42px;
            height: 28px;
            border-radius: 100vw;
            z-index: 1;
            transition: all 200ms ease-in-out;
            left: 0;
            transition: transform 200ms ease-out;
            transform: translateX(0)
        }

        .left {
            transform: translateX(0);
        }

        .right {
            transform: translateX(42px);
        }

    }
}