<header>

    <app-nav-toggle></app-nav-toggle>

    

    <div (click)="toggleSidebar()" class="burgerMenu" [ngClass]="!showSidebar ? 'burgerMenu' : 'burgerMenuClosed'">
        <span class="line top"></span>
        <span class="line middle"></span>
        <span class="line bottom"></span>
    </div>

    <div class="logo">
        <span>Manuel</span>
        <span>Braun</span>
    </div>

    @if (showSidebar) {
    <app-sidebar @fadeIn></app-sidebar>
    <div (click)="toggleSidebar()" class="menu-background"></div>
    }
</header>