<div class="content-background">
    <section>
        <div class="projects">
            <div class="headline">
                <h3 id="projects-anchor">{{ 'portfolio.h3' | translate }}</h3>
                <p>{{ 'portfolio.description' | translate }}</p>
            </div>
            @for (project of projects; track $index) {
            <div class="project">
                <div class="project-info">
                    <h2>{{ project.title }}</h2>
                    <div class="skills">
                        @for (skill of project.skills; track $index; let index = $index) {
                        <div class="skill">
                            <span>{{ skill.name }}</span>
                            @if (index !== projects.length + 1) {
                            <span>|</span>
                            }
                        </div>
                        }
                    </div>
                    @if (ngxService.getCurrentLanguage() == language.english) {
                    <p>{{ project.description_en }}</p>
                    } @else if(ngxService.getCurrentLanguage() == language.german) {
                    <p>{{ project.description_de }}</p>
                    }
                    <div class="btns">
                        <button class="secondary-btn">
                            <a href="{{ project.github }}" target="_blank">Gibhub</a>
                            <img src="assets/icons/project-arrow-up-right.svg" alt="arrow icon">
                        </button>
                        <button class="secondary-btn">
                            <a href="{{ project.link }}" target="_blank">Live Test</a>
                            <img src="assets/icons/project-arrow-up-right.svg" alt="arrow icon">
                        </button>
                    </div>
                </div>

                <a href="{{ project.link }}" target="_blank" class="img-wrapper">
                    <img src="{{ project.imgPath }}" alt="image of {{ project.title }}">
                    <img class="lines" src="assets/img/portfolio-diagonal-lines.png" alt="image of green lines">
                </a>

            </div>
            }
        </div>
    </section>
</div>