@use '../../../styles.scss' as *;

.content-background {
    background-color: $color-black-bg;

    section {
        max-width: $content-limit;
        margin: 0 auto;
        padding: 6rem;
        color: white;

        @media(max-width: 899px) {
            padding: 2rem 1rem;
        }

        .projects {
            @include dFlex($fd: column, $g: 4rem);

            .project {
                @include dFlex($jc: space-between);
                width: 100%;

                @media(max-width: 999px) {
                    flex-direction: column;
                    gap: 1rem;
                    width: unset;
                }

                .project-info {
                    width: 50%;
                    @include dFlex($ai: flex-start, $fd: column, $g: 1rem);
                    border-radius: 1.875rem;
                    border: 0.0625rem solid $color-v2-green-100;
                    background: $color-v2-green-10;
                    padding: 2rem;

                    h2 {
                        @include font-karla($fs: 2.5rem, $fw: 700);
                        color: $color-v2-green-100;
                    }

                    .skills {
                        @include dFlex($g: 0.25rem);
                        flex-wrap: wrap;

                        .skill {
                            span:last-child {
                                margin-left: 0.25rem;
                            }

                            span {
                                @include font-karla($fs: 1rem, $fw: 400);
                                color: $color-not-white;
                                cursor: default;

                                &:hover {
                                    color: white;
                                }
                            }
                        }
                    }

                    p {
                        @include font-karla($fs: 1.125rem, $fw: 400);
                        color: $color-not-white;
                        max-width: 50ch;

                        &:hover {
                            color: white;
                        }
                    }

                    .btns {
                        @include dFlex($jc: flex-start, $g: 2rem);

                        @media(max-width: 349px) {
                            flex-direction: column;
                        }
                    }

                    @media(max-width: 999px) {
                        width: unset;
                        border: unset;
                        background: unset;
                        padding: 0;
                    }
                }

                .img-wrapper {
                    width: 400px;
                    height: 250px;
                    max-width: 50%;
                    @include dFlex();
                    transform: translateY(4.375rem);
                    position: relative;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                        z-index: 3;

                        @media(max-width: 999px) {
                            object-fit: contain;
                        }
                    }

                    .lines {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 1rem;
                        z-index: 2;
                        transform: translate(2.5rem, 2.5rem);

                        @media(max-width: 999px) {
                            display: none;
                        }
                    }

                    @media(max-width: 999px) {
                        width: 100%;
                        max-width: unset;
                        transform: unset;
                    }
                }

                @media(max-width: 999px) {
                    border-radius: 1.875rem;
                    border: 0.0625rem solid $color-v2-green-100;
                    background: $color-v2-green-10;
                    padding: 2rem;
                }
            }
        }
    }
}