@use '../../../styles.scss' as *;

.wrapper {
    @include dFlex($fd: column, $g: 1rem, $ai: flex-start);
    max-width: 45ch;

    h3 {
        @include font-fira-code($fs: 1rem, $fw: 400);
        color: $color-v2-green-100;
        white-space: nowrap;
        text-align: center;
    }

    p {
        @include font-karla($fs: 1.125rem, $fw: 400);
    }
    
    .growth-skills {
        @include dFlex($g: 1rem);
        
        .growth-skill {
            @include dFlex($fd: column, $g: 0.3125rem);
            
            img {
                width: 2rem;
                height: 2rem;
            }
            
            span {
                @include font-karla($fs: 0.75rem, $fw: 700);
                color: $color-v2-green-100;
            }
        }
    }
}