@use '../../../styles.scss' as *;

.content-bg {
    background-color: $color-black-bg;
}

.references-content {
    @media(max-width: 899px) {
        padding: 2rem 1rem;
    }
   
    max-width: $content-limit;
    margin: 0 auto;
    padding: 6rem;
    @include dFlex($fd: column, $g: 3rem);

    h2 {
        @include font-fira-code($fs: 2rem, $fw: 700);
        color: $color-v2-green-100;
    }

    .references-wrapper {
        @include dFlex($g: 2rem);
    }

    .navigation {
        @include dFlex($g: 1.25rem);

        .dot {
            border: unset;
            border-radius: 100%;
        }

        svg:first-of-type {
            cursor: pointer;
            @extend .hover-transition;

            &:hover {
                @extend .hover-transition;
                transform: translateX(-0.3125rem) scale(1.3);

                path,
                rect {
                    fill: $color-v2-green-100;
                }
            }
        }

        svg:last-of-type {
            cursor: pointer;
            @extend .hover-transition;

            &:hover {
                @extend .hover-transition;
                transform: translateX(0.3125rem) scale(1.3);

                path,
                rect {
                    fill: $color-v2-green-100;
                }
            }
        }
    }
}

.dot-green {
    background-color: $color-v2-green-100;
    height: 0.75rem;
    width: 0.75rem;
}

.dot-white {
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
}