@use '../../../styles.scss' as *;

.content-bg {
    background-color: $color-black-bg;
}

.references-content {
    max-width: $content-limit;
    margin: 0 auto;
    padding: 96px;
    @include dFlex($fd: column, $g: 48px);

    h2 {
        @include font-fira-code($fs: 32px, $fw: 700);
        color: $color-v2-green-100;
    }

    .references-wrapper {
        @include dFlex($g: 32px);
    }

    .navigation {
        @include dFlex($g: 20px);

        .dot {
            border: unset;
            border-radius: 100%;
        }

        svg:first-of-type {
            cursor: pointer;
            @extend .hover-transition;

            &:hover {
                @extend .hover-transition;
                transform: translateX(-5px) scale(1.3);

                path,
                rect {
                    fill: $color-v2-green-100;
                }
            }
        }

        svg:last-of-type {
            cursor: pointer;
            @extend .hover-transition;

            &:hover {
                @extend .hover-transition;
                transform: translateX(5px) scale(1.3);

                path,
                rect {
                    fill: $color-v2-green-100;
                }
            }
        }
    }
}

.dot-green {
    background-color: $color-v2-green-100;
    height: 12px;
    width: 12px;
}

.dot-white {
    background-color: white;
    height: 8px;
    width: 8px;
}