*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$color-v2-green-100: #3DCFB6;
$color-v2-green-50: #3DCFB680;
$color-v2-green-30: #3DCFB64D;
$color-v2-green-10: #3DCFB61A;
$color-not-white: #D9D9D9;
$color-green-bg: #08463b;
$color-black-bg: #1c1c1c;
$color-blur-bg: #FFFFFF1F;


$content-limit: 1920px;


@mixin font-fira-code($fs: 1.5rem, $fw: 400){
    font-family: 'Fira Code';
    font-size: $fs;
    font-weight: $fw;
}

@mixin font-karla($fs: 1.5rem, $fw: 400){
    font-family: 'Karla';
    font-size: $fs;
    font-weight: $fw;
}

@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0){
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

.hover-transition {
    transition: 125ms ease-out;
}

.primary-btn {
    @include font-karla($fs: 1.125rem, $fw: 400);
    @include dFlex($g: 0.625rem);
    @extend .hover-transition;
    border: 1px solid white;
    border-radius: 100vw;
    background-color: transparent;
    color: white;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    overflow: hidden;
    &:hover{
        border: 1px solid $color-v2-green-100;
    }
    &:hover span {
        color: $color-v2-green-100;
        animation: 5s move-font infinite linear;
    }
}

@keyframes move-font{
    0%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(-200%);
    }

    51%{
        transform: translateX(200%);
        opacity: 0;
    }

    52% {
        opacity: 1;
    }

    100%{
        transform: translateX(0);
    }
}

.green-dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: $color-v2-green-100;
    border: unset;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

