<div class="footer-background">
    <footer>
        <section>
            <div class="logo-section">
                <div class="logo">
                    <span>Manuel</span>
                    <span>Braun</span>
                </div>
                <p>Frontend Developer</p>
                <p>Partenstein Germany</p>
            </div>
            <div class="created-by">
                <span>© Manuel Braun 2024</span>
            </div>
            <nav>
                <a href="https://github.com/manuelbrauncoder">Github</a>
                <a href="https://www.linkedin.com/in/manuel-braun-developer/">LinkedIn</a>
                <a href="mailto:contact@manuel-braun.net">Email</a>
                <a (click)="uiService.goToComponent('/imprint', 0)">Legal Notice</a>
            </nav>
        </section>
        <div class="created-by-mobile">
            <span>© Manuel Braun 2024</span>
        </div>

    </footer>
</div>
